.card-project {
  height: 210px;
  overflow: hidden;

  .card-flip {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;

    .card-front {
      background-color: #bbb;
      color: $main;
      transition: 0.4s;

      .card-img {
        width: 100%;
        object-fit: cover;
        transition: 0.2s;
      }
    }

    .card-back {
      position: absolute;
      transition: transform 0.4s;
      color: #333;
    }

    &:hover .card-back {
      transform: translateY(-190px);
      color: #333;
    }

    &:hover .card-front {
      transform: scale(1.2);
      opacity: 0.2;
    }
  }

  h2 {
    width: 100%;
    height: 100%;
    color: #333;
  }
}
