.list-inline {
  display: flex;
  align-items: center;
}

.list-item {
  padding: 0;
  opacity: 0.8;
  transition: 0.2s;

  p {
    margin: 0;
    padding: 16px;
  }

  &:hover {
    cursor: pointer;
    opacity: 1;
  }
}
