.img-sm {
  width: 40px;
  height: 40px;
  object-fit: cover;
}

.img-nav {
  position: relative;
  top: -140px;
  left: 50%;
  animation: float-fast 4s ease-in-out infinite;

  &:hover {
    cursor: pointer;
  }
}

.img-circle-lg {
  width: 360px;
  height: 360px;
  border: 12px solid $main;
  border-radius: 50%;
  box-shadow: 8px 8px 0 0 $main-dark;
  object-fit: cover;
}

.display-img {
  animation: float 4s ease-in-out infinite;
  position: relative;
  left: 52px;
  top: 8px;
}

@keyframes float {
  0% {
    transform: translateY(-15px);
  }

  50% {
    transform: translateY(10px);
  }

  100% {
    transform: translateY(-15px);
  }
}

.img-md {
  width: 100%;
  object-fit: cover;
}
