.portfolio-banner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .header-left {
    margin: 0 0 0 20%;
  }

  .header-right {
    margin: 0 60% 0 0;
  }

  p {
    font-size: 3rem;
  }
}
