.btn-link {
  opacity: 0.8;
  transition: 0.2s;
  color: $main;

  &:hover {
    text-decoration: none;
    opacity: 1;
    color: $main;
  }
}

.btn-nav {
  background: none;
  border: none;
  font-size: 2em;
  transition: 1.4s;
  transform: translateY(20px);
  opacity: 1;

  i {
    display: block;
    line-height: 0.6em;
  }

  &:focus {
    outline: none;
  }
}

.btn-nav-hide {
  opacity: 0;
  transform: translateY(56px);
}
