h1 {
  font-weight: bold;
  font-size: 5.5rem;
}

h1, h2, h3, h4, h5, h6 {
  text-transform: uppercase;
  letter-spacing: 0.2em;
}

p {
  letter-spacing: 0.2em;
}

a {
  &:hover {
    text-decoration: none;
  }
}

span {
  color: $secondary;
}
