h1, h2, h3, h4, h5, h6 {
  text-transform: uppercase;
  letter-spacing: 0.2rem;
}

p {
  margin: 0;
  letter-spacing: 0.2rem;
}

li {
  margin: 0;
  letter-spacing: 0.2rem;
}

.banner-header {
  font-size: 12rem;
}

.display-header {
  color: $main;
  font-size: 12rem;
  -webkit-text-fill-color: $main;
  -webkit-text-stroke: 1px $black;
  z-index: -5;
  writing-mode: vertical-rl;
  margin: 0 24px;
}
