.portfolio-footer {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 80vh;
  background: $black;
  color: $main;
  font-size: 3.5rem;

  li {
    padding: 24px;
  }
}
