.portfolio-navbar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;
  position: fixed;
  right: 0;
  height: 100%;
  transition: 0.8s cubic-bezier(.98,.49,.35,.91);

  p, li {
    padding: 16px;
    opacity: 0.6;
    transition: 0.2s;

    &:hover {
      cursor: pointer;
      opacity: 1;
    }
  }

  .navbar-left, .navbar-right {
    writing-mode: vertical-rl;
    // transform: rotate(90deg);
  }
}

.navbar-hidden {
  right: -56px;
}
