.display-projects {
  .display-left {
    margin: 0 36px;

    p {
      margin: 0 0 16px 0;
      text-transform: uppercase;
    }

    .project-grid {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-gap: 12px;
    }
  }
}
